@charset "UTF-8";
body article p {
    text-align: center;
    background-color: #E4ABBE;
}
.bannerpic img {
    width: 100%;
    height: auto;
}
.bannerpic {
}
body footer {
    text-align: center;
}
